{{ define "main" }} 

<!-- this renders all the tags params included in all content/posts' front matter  -->
  <div class="flex justify-center space-x-5">
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt:= .Count }} 
      {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
      <div>
        <a href="{{ .RelPermalink }}" title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
        <sup>{{$cnt}}</sup>
      </div>
      {{end}} 
    {{end}}
  </div>
  <h1>Tags</h1>
<ul>
{{ range .Site.Taxonomies.tags }}
  <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
{{ end }}
</ul>

<!-- range .Pages seems to be looping through the pages for the corresponding section, ie content/posts & the three post .md files -->
  {{ range .Paginator.Pages }}
  <article class="space-y-5 p-5 border mb-4">
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p>date: {{.Date}}</p>
    <p>wordcount: {{.WordCount}}</p>
<!-- this renders the content/posts' tags params in the front matter  -->
<div class="space-x-4">
  {{ range $tags := .Params.tags }}
  <a href="/tags/{{ $tags | urlize }}" class="text-red-500 underline">
    <span >{{ $tags }}</span>
  </a>
  {{ end }}
</div>
<!-- this renders the content/posts' tags params in the front matter  -->
  </article>
  {{ end }}

<!-- this renders the pagination UI from layouts/partials/pagination.html  -->
  {{ partial "pagination" .}}

<!-- this renders the content/posts' actual content  -->
<!-- {{ .Content }} -->
{{ end }}
